<div class="container">
  <form>
      <legend>Transfer</legend>
      <div class="form-group row">
          <label for="Date" class="col-sm-2 col-form-label"><b>Date</b></label>
          <div class="col-sm-4">
            <input type="text" readonly="" class="form-control-plaintext" id="Date" value="{{ getDate()}}">
          </div>
        </div>
      <hr>
      <fieldset>
          <div class="form-group row">
            <label for="customerid" class="col-sm-2 col-form-label"><b>CustomerID</b></label>
            <div class="col-sm-4">
              <input type="text" readonly="" class="form-control-plaintext" id="customerid" value="  {{ getCustomer().customerid}}">
            </div>
          </div>
          <div class="form-group row">
              <label for="customername" class="col-sm-2 col-form-label"><b>CustomerName</b></label>
              <div class="col-sm-4">
                <input type="text" readonly="" class="form-control-plaintext" id="customername" value="  {{ getCustomer().accountholdername}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="ClearBalance" class="col-sm-2 col-form-label"><b>ClearBalance</b></label>
              <div class="col-sm-4">
                <input type="text" readonly="" class="form-control-plaintext" id="ClearBalance" value="  {{ getCustomer().clearbalance}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="currency" class="col-sm-2 col-form-label"><b>Currency</b></label>
              <div class="col-sm-4">
                <input type="text" readonly="" class="form-control-plaintext" id="currency" value="  INR">
              </div>
            </div>
          <div class="form-group row">
            <label for="ReceiverBIC" class="col-sm-2 col-form-label">ReceiverBIC</label>
            <div class="col-sm-4">
              <input type="text" class="form-control-plaintext mt-1" id="ReceiverBIC" [(ngModel)]="bank.bic" (change)="getBic()" name="bic" placeholder="  Enter Receiver BIC">
            </div>
          </div>
          <div class="form-group row">
              <label for="currency" class="col-sm-2 col-form-label"><b>Receiver Instituton name</b></label>
              <div class="col-sm-4">
                <input type="text" readonly=""  class="form-control-plaintext" id="currency" value="  {{bankname.bankname}}">
              </div>
            </div>
          <div class="form-group row">
              <label for="ReceiverName" class="col-sm-2 col-form-label">Receiver Name</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control-plaintext mt-1" id="ReceiverName" name="receivername"  [(ngModel)]="receivername" (change)="processSDN()" placeholder="  Enter Receiver Name">
              </div>
          </div>
          <div class="form-group row">
              <label for="ReceiverAccountNumber" class="col-sm-2 col-form-label">Receiver Account Number</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control-plaintext mt-1" id="ReceiverAccountNumber"
                  [(ngModel)]="receiveraccountnumber" name="receiveraccountnumber" placeholder="  Receiver Account Number">
              </div>
          </div>
          <div class="form-group row">
            <label for="transfertype" class="form-label mt-2">Message</label>
            <div class="col-sm-4">
              <select class="form-select" id="transfertype" (change)="onMessageChange(selected)" #selected>
                  <option value="">select message</option>
                  <option *ngFor="let msg of message">{{msg.messageCode}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row" *ngIf="iscustomer(); else bk">
            <label for="transfertype" class="form-label mt-2">Transfer Type</label>
            <div class="col-sm-4">
              <select class="form-select" [(ngModel)]="transfertypes.transferTypeCode" name="transfertypecode" id="transfertype">
                  <option>Select Transfer</option>
                  <option>C</option>
              </select>
            </div>
          </div>
          <ng-template #bk>
            <div class="form-group row">
              <label for="transfertype" class="form-label mt-2">Transfer Type</label>
              <div class="col-sm-4">
                <select class="form-select" [(ngModel)]="transfertypes.transferTypeCode" name="transfertypecode" id="transfertype">
                    <option>Select Transfer</option>
                    <option>B</option>
                </select>
              </div>
            </div>
          </ng-template>
            <div class="form-group row">
              <label for="Amount" class="col-sm-2 col-form-label mt-2">Amount</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control-plaintext mt-2" id="Amount"
                  [(ngModel)]="amount" name="amount" placeholder="  Amount" (keyup)="onAmountChange()" autocomplete="off">
              </div>
          </div>
          <div class="form-group row">
              <label for="Transferfee" class="col-sm-2 col-form-label">Transferfee</label>
              <div class="col-sm-4">
                  <input type="text" readonly="" class="form-control-plaintext mt-1" id="Transferfee"
                  [(ngModel)]="transferfee"  name="transferfee" placeholder="Transferfee" >
              </div>
          </div>
      </fieldset>
  </form>
</div>
<button class="btn btn-dark" (click)="handleTransfer()">Intiate Transaction</button>
<!-- <p>Receivername:{{receivername|json}}</p>
<p>{{receiveraccountnumber}}</p>
<p>{{amount}}</p>
<p>{{transferfee}}</p>
<p>{{selectedMsgCode}}</p>
<p>{{transfertypes.transferTypeCode}}</p> -->