<div class="container mt-5" id="container">
    <div class="form-container log-in-container">
          <form action="" method=""  (ngSubmit)="handleLogin()">
            <h1>Login</h1>
            <span>or use your account</span>
            <input type="text" name="UserId" class="form-control"
                     placeholder="Username" [(ngModel)]="customerUser.username">
               <input type="password" name="password" class="form-control"
                     placeholder="Password" [(ngModel)]="customerUser.password">               
            <button>Log In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1 id="righth1">Welcome to Bank</h1>
                <p>Online banking</p>
            </div>
        </div>
    </div>
</div>