<div class="container">
    <table class="table table-hover mt-5">
        <tbody>
            <tr class="table-active">
                <th>Transaction Id</th>
                <th>Customer Id</th>
                <th>Currency Code</th>
                <th>Sender BIC</th>
                <th>Receiver BIC</th>
                <th>Receiver name</th>
                <th>Receiver account number</th>
                <th>Message code</th>
                <th>Amount</th>
                <th>Transfer fees</th>
                <th>Transfer date</th>
            </tr>
            <tr *ngFor="let t of transactions">
                <td>{{t.transactionId}}</td>
                <td>{{t.customer.customerid}}</td>
                <td>{{t.currency.currencyCode}}</td>
                <td>{{t.senderBank.bic}}</td>
                <td>HDFC</td>
                <td>{{t.receiverAccountNumber}}</td>
                <td>{{t.receiverAccountHolderName}}</td>
                <td>{{t.message.messageCode}}</td>
                <td>{{t.inramount}}</td>
                <td>{{t.transferfees}}</td>
                <td>{{t.transferdate}}</td>
            </tr>
        </tbody>
    </table>
    